* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
    

}

body {
font-family: 'Poppins', sans-serif;
background-color: white;
color: black;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding:10px;
position: fixed;
top: 0;
left: 0;
right: 0;
border-bottom: 1px #13265E ;
background-color: #13265E;
}

.navbar .navbar-logo img {

    margin-left: 45px;

}

.navbar .navbar-nav a {

    color: white;
    font-size: 20px;
    margin: 0px 20px;
    display: inline-block;

}
.banner-profil {
    width: 100%;
    height: 100%;
    display :flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    

    
}
.profil-sizelton{
    justify-content:center;
    margin-top: 100px;
    
}

.profil-sizelton .Geografis,.Budaya, .Perekonomian img {
   margin-left: 100px;
   margin-top: 100px;
}

.profil-sizelton .Sejarah , .Pariwisata img, .Infrastruktur {
    margin-right: 100px;
    margin-top: 100px;
 }

.profil-sizelton .teks-kanan{
    margin-left: 50px;
    margin-right:500px;
    margin-top: 50px;
    text-align: justify;
    
}
.profil-sizelton .teks-kiri{
    margin-left: 460px;
    margin-right:90px;
    margin-top: 50px;
    text-align: justify;
}



.Geografis {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Geografis img {
    width: 20%;
    height: auto;
}

.Sejarah {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Sejarah img {
    width: 20%;
    height: auto;
}



.Budaya {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Budaya img {
    width: 20%;
    height: auto;
}

.Budaya .text {
    width: 50%;
}

.Pariwisata {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Pariwisata img {
    width: 20%;
    height: auto;
}

.Pariwisata .text {
    width: 50%;
}

.Perekonomian {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Perekonomian img {
    width: 20%;
    height: auto;
}

.Perekonomian .text {
    width: 50%;
}

.Infrastruktur {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Infrastruktur img {
    width: 20%;
    height: auto;
}

.Infrastruktur .text {
    width: 50%;
}
/* h1 {
    text-align: left;
} */






